head{
    background-color:#fcffff;}
    header {"Monotype Corsiva" , Times New Roman; font-size: 24px; color:#000000}
body{ font-family: "Monotype Corsiva" , Times New Roman; font-size: 32px;}
li1 { display: inline;}
#flex {display: flex}
nav { background-color: #0af0f0; }
main {background-color: #b8f5f1}
ul1 {list-style-type: #f51466;
margin: 15px;
overflow: hidden;
background-color: #dddddd;}
p {font-family: "Monotype Corsiva" , Times New Roman;
color: #e81361;
font-size: 30px;
font-style: normal;}
p {font-family: "Monotype Corsiva" , Times New Roman;
    color: #000080;
    font-size: 24px;
    font-style: normal;}
img.displayed {display: block;
margin-left: 50%;}

margin: auto;}
li {font-size: 28px;
    color: #fa0799;}
h1 {color: #053afa;
font-size: 40px;
text-align: center;}
p1{font-family: "Monotype Corsiva" , Times New Roman;
    color: #000080;
    font-size: 20px;
    font-style: normal;}
h4 {font-family: "Monotype Corsiva" , Times New Roman;
    color: #f50707;
    font-size: 28px;
    text-align: center;}
ol {font-size: 24px;
    color: #000080;}
h2 {font-family: "Monotype Corsiva" , Times New Roman;
color: #f00707;
font-size: 30px;}
h3 {color: #f7001d;
    font-size: 30px;}
    ul {font-size: 28px;
        color: #fa0799;}
